body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(sunset-mountain-synthwave-minimalist-digital-art-4k-wallpaper-uhdpaper.com-875@1@m.jpg)
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ff0192;
  text-align: center;
  border-radius: 10px;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 100px;
 }

h1{
 color: white;
 margin: 0 5px;
 font-family: 'Staatliches', sans-serif;

}
 
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #0126ff;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #0126ff;
}
